@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --d2-regular-font-family: "Inter", Helvetica;
  --d2-regular-font-size: 12px;
  --d2-regular-font-style: normal;
  --d2-regular-font-weight: 400;
  --d2-regular-letter-spacing: 0px;
  --d2-regular-line-height: 20px;
  --d3-regular-font-family: "Inter", Helvetica;
  --d3-regular-font-size: 14px;
  --d3-regular-font-style: normal;
  --d3-regular-font-weight: 400;
  --d3-regular-letter-spacing: 0px;
  --d3-regular-line-height: 20px;
  --d4-medium-font-family: "Inter", Helvetica;
  --d4-medium-font-size: 16px;
  --d4-medium-font-style: normal;
  --d4-medium-font-weight: 500;
  --d4-medium-letter-spacing: 0px;
  --d4-medium-line-height: 24px;
  --d4-regular-font-family: "Inter", Helvetica;
  --d4-regular-font-size: 16px;
  --d4-regular-font-style: normal;
  --d4-regular-font-weight: 400;
  --d4-regular-letter-spacing: 0px;
  --d4-regular-line-height: 24px;
  --d4-semibold-font-family: "Inter", Helvetica;
  --d4-semibold-font-size: 16px;
  --d4-semibold-font-style: normal;
  --d4-semibold-font-weight: 600;
  --d4-semibold-letter-spacing: 0px;
  --d4-semibold-line-height: 24px;
  --d5-bold-font-family: "Inter", Helvetica;
  --d5-bold-font-size: 18px;
  --d5-bold-font-style: normal;
  --d5-bold-font-weight: 700;
  --d5-bold-letter-spacing: 0px;
  --d5-bold-line-height: 28px;
  --d5-medium-font-family: "Inter", Helvetica;
  --d5-medium-font-size: 18px;
  --d5-medium-font-style: normal;
  --d5-medium-font-weight: 500;
  --d5-medium-letter-spacing: 0px;
  --d5-medium-line-height: 28px;
  --d6-bold-font-family: "Inter", Helvetica;
  --d6-bold-font-size: 20px;
  --d6-bold-font-style: normal;
  --d6-bold-font-weight: 700;
  --d6-bold-letter-spacing: -0.25px;
  --d6-bold-line-height: 32px;
  --d6-semibold-font-family: "Inter", Helvetica;
  --d6-semibold-font-size: 20px;
  --d6-semibold-font-style: normal;
  --d6-semibold-font-weight: 600;
  --d6-semibold-letter-spacing: -0.25px;
  --d6-semibold-line-height: 32px;
  --d8-semibold-font-family: "Inter", Helvetica;
  --d8-semibold-font-size: 24px;
  --d8-semibold-font-style: normal;
  --d8-semibold-font-weight: 600;
  --d8-semibold-letter-spacing: -0.5px;
  --d8-semibold-line-height: 36px;
  --disco-jupiter-primary-primary-200: var(--primitives-raw-values-colors-purple-200);
  --disco-jupiter-primary-primary-400: var(--primitives-raw-values-colors-purple-400);
  --disco-jupiter-primary-primary-50: var(--primitives-raw-values-colors-purple-50);
  --disco-jupiter-primary-primary-500: var(--primitives-raw-values-colors-purple-500);
  --focus-primay-focus-3px: 0px 0px 0px 3px rgba(225, 214, 255, 1);
  --h5-font-family: "Inter", Helvetica;
  --h5-font-size: 32px;
  --h5-font-style: normal;
  --h5-font-weight: 700;
  --h5-letter-spacing: -0.5px;
  --h5-line-height: 40px;
  --neutralneutral-100: rgba(239, 242, 245, 1);
  --neutralneutral-200: rgba(226, 229, 233, 1);
  --neutralneutral-25: rgba(251, 252, 254, 1);
  --neutralneutral-400: rgba(155, 162, 171, 1);
  --neutralneutral-50: rgba(245, 247, 250, 1);
  --neutralneutral-500: rgba(115, 121, 130, 1);
  --neutralneutral-700: rgba(63, 70, 80, 1);
  --neutralneutral-800: rgba(54, 60, 69, 1);
  --primaryprimary-500: rgba(115, 65, 251, 1);
  --primitives-raw-values-border-radius-br4: 4px;
  --primitives-raw-values-border-radius-br6: 6px;
  --primitives-raw-values-colors-neutral-100: rgba(239, 242, 245, 1);
  --primitives-raw-values-colors-neutral-200: rgba(232, 234, 237, 1);
  --primitives-raw-values-colors-neutral-200-duplicate: rgba(226, 229, 233, 1);
  --primitives-raw-values-colors-neutral-25: rgba(251, 252, 253, 1);
  --primitives-raw-values-colors-neutral-300: rgba(200, 205, 213, 1);
  --primitives-raw-values-colors-purple-200: rgba(195, 173, 255, 1);
  --primitives-raw-values-colors-purple-400: rgba(137, 95, 252, 1);
  --primitives-raw-values-colors-purple-50: rgba(240, 235, 255, 1);
  --primitives-raw-values-colors-purple-500: rgba(115, 65, 251, 1);
  --primitives-raw-values-colors-white-100: rgba(255, 255, 255, 1);
  --white-100: rgba(255, 255, 255, 1);
}
