.createAnAccount {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .createAnAccountWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 78px;
  }
  .adipiscingElitMorbi,
  .loremIpsumDolor {
    display: block;
  }
  .loremIpsumDolorContainer {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-base);
    color: var(--color-dimgray-100);
  }
  .frameParent,
  .inputFieldsInner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frameParent {
    flex: 1;
    flex-direction: column;
  }
  .inputFieldsInner {
    align-self: stretch;
    flex-direction: row;
    padding: 0 48px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    color: var(--color-darkslategray);
  }
  .label {
    position: relative;
    display: inline-block;
    min-width: 44px;
  }
  .hide,
  .icon {
    position: absolute;
  }
  .icon {
    top: 3px;
    right: 49px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .hide {
    top: 0;
    right: 0;
  }
  .passwordHideSee {
    height: 27px;
    width: 73px;
    position: relative;
    display: none;
    text-align: right;
    font-size: var(--font-size-lg);
    color: var(--color-dimgray-200);
  }
  .labelWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs);
  }
  .div {
    align-self: stretch;
    width: 55px;
    position: relative;
    display: none;
  }
  .inputBackground {
    height: 24px;
    width: 1px;
    position: relative;
    background-color: var(--color-gray-100);
  }
  .inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .icons {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    min-height: 24px;
  }
  .textField1 {
    align-self: stretch;
    border-radius: var(--br-xs);
    border: 1px solid var(--color-dimgray-100);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px var(--padding-5xl) var(--padding-mini);
    color: var(--color-gray-100);
  }
  .errorMessage {
    width: 101px;
    position: relative;
    font-size: var(--font-size-sm);
    color: #ee1d52;
    display: none;
  }
  .textField,
  .textFieldWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .textField {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-9xs);
  }
  .textFieldWrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-10xs);
    box-sizing: border-box;
  }
  .label1 {
    position: relative;
    display: inline-block;
    min-width: 50px;
  }
  .hide1,
  .icon1 {
    position: absolute;
  }
  .icon1 {
    top: 3px;
    right: 49px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .hide1 {
    top: 0;
    right: 0;
  }
  .passwordHideSee1 {
    height: 27px;
    width: 73px;
    position: relative;
    display: none;
    text-align: right;
    font-size: var(--font-size-lg);
    color: var(--color-dimgray-200);
  }
  .labelParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs);
  }
  .textField3 {
    border: 1px solid var(--color-dimgray-100);
    outline: 0;
    background-color: transparent;
    align-self: stretch;
    height: 56px;
    position: relative;
    border-radius: var(--br-xs);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    min-width: 250px;
  }
  .andKeepIt,
  .weStronglyRecommend {
    display: block;
  }
  .errorMessage1 {
    margin: 0;
    position: relative;
    font-size: var(--font-size-smi);
    color: var(--color-dimgray-200);
  }
  .textField2,
  .textFieldContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .textField2 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-9xs);
  }
  .textFieldContainer {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-10xs);
    box-sizing: border-box;
  }
  .icon2,
  .label2 {
    position: relative;
  }
  .label2 {
    display: inline-block;
    min-width: 77px;
  }
  .icon2 {
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
  }
  .hide2 {
    position: relative;
    display: inline-block;
    min-width: 41px;
  }
  .passwordHideSee2,
  .passwordLabelWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .passwordHideSee2 {
    justify-content: flex-start;
    gap: var(--gap-5xs);
    text-align: right;
    font-size: var(--font-size-lg);
    color: var(--color-dimgray-200);
  }
  .passwordLabelWrapper {
    align-self: stretch;
    justify-content: space-between;
    padding: 0 9px 0 0;
    gap: var(--gap-xl);
  }
  .textField5 {
    border: 1px solid var(--color-dimgray-100);
    outline: 0;
    background-color: transparent;
    align-self: stretch;
    height: 56px;
    position: relative;
    border-radius: var(--br-xs);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    min-width: 250px;
  }
  .andKeepIt1,
  .weStronglyRecommend1 {
    margin: 0;
  }
  .errorMessage2 {
    align-self: stretch;
    height: 40px;
    position: relative;
    font-size: var(--font-size-smi);
    color: var(--color-dimgray-200);
    display: none;
  }
  .textField4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .requirementIcon {
    width: 8px;
    height: 8px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-dimgray-300);
  }
  .requirementIconWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs-5) 0 0;
  }
  .oneLowercaseCharacter {
    position: relative;
  }
  .bulletPoint {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs) 0;
    gap: var(--gap-5xs);
  }
  .caseIcon {
    width: 8px;
    height: 8px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-dimgray-300);
  }
  .caseIconWrapper {
    margin-left: -16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs-5) 0 0;
  }
  .oneLowercaseCharacter1 {
    position: relative;
    flex-shrink: 0;
  }
  .bullet,
  .bulletPoint1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .bulletPoint1 {
    width: 309px;
    padding: var(--padding-5xs) 4px var(--padding-5xs) 12px;
    box-sizing: border-box;
    gap: var(--gap-5xs);
  }
  .bullet {
    align-self: stretch;
    gap: 35px;
  }
  .frameChild {
    width: 8px;
    height: 8px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-dimgray-300);
  }
  .bulletPointInner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs-5) 0 0;
  }
  .oneLowercaseCharacter2 {
    position: relative;
  }
  .bulletPoint2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs) 0;
    gap: var(--gap-5xs);
  }
  .frameItem {
    width: 8px;
    height: 8px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-dimgray-300);
  }
  .bulletPointChild {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs-5) 0 0;
  }
  .oneLowercaseCharacter3 {
    position: relative;
  }
  .bullet1,
  .bulletPoint3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .bulletPoint3 {
    padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs) 0;
    gap: var(--gap-5xs);
  }
  .bullet1 {
    gap: 41px;
    max-width: 100%;
  }
  .bullets {
    align-self: stretch;
    flex-direction: column;
    font-size: var(--font-size-sm);
    color: var(--color-dimgray-300);
  }
  .bullets,
  .signupButtonWrapper,
  .textFieldParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .textFieldParent {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-9xs);
  }
  .signupButtonWrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-10xs);
    box-sizing: border-box;
  }
  .icons1,
  .signUp {
    position: relative;
  }
  .icons1 {
    height: 24px;
    width: 24px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .signUp {
    text-decoration: none;
    font-size: var(--font-size-lg);
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 60px;
  }
  .button,
  .buttonWrapper,
  .iconsParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .iconsParent {
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .button,
  .buttonWrapper {
    box-sizing: border-box;
    max-width: 100%;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: 14px var(--padding-xl) var(--padding-mini) 21px;
    background-color: var(--color-gray-100);
    flex: 1;
    border-radius: 40px;
    overflow: hidden;
    justify-content: center;
  }
  .buttonWrapper {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 var(--padding-10xs);
  }
  .byCreatingAn {
    color: var(--color-darkslategray);
  }
  .termsOfUse {
    text-decoration: underline;
  }
  .span {
    color: var(--color-dimgray-100);
  }
  .and {
    color: var(--color-darkslategray);
  }
  .span1,
  .span2 {
    color: var(--color-dimgray-100);
  }
  .privacyPolicy {
    text-decoration: underline;
  }
  .byCreatingAnContainer {
    position: relative;
  }
  .frameGroup,
  .inputFields,
  .inputFieldsWrapper,
  .linkText {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .linkText {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs) 0;
  }
  .frameGroup,
  .inputFields,
  .inputFieldsWrapper {
    flex-direction: column;
    max-width: 100%;
  }
  .frameGroup {
    align-self: stretch;
    gap: var(--gap-5xs);
    font-size: 15px;
    color: var(--color-gray-100);
  }
  .inputFields,
  .inputFieldsWrapper {
    box-sizing: border-box;
  }
  .inputFields {
    align-self: stretch;
    border-radius: 32px;
    background-color: var(--color-white);
    border: 1px solid rgba(102, 102, 102, 0.3);
    overflow: hidden;
    padding: 46px 47px;
    gap: 40px;
  }
  .inputFieldsWrapper {
    flex: 1;
    padding: var(--padding-5xl) 0 0;
  }
  .alreadyHaveAn {
    color: var(--color-darkslategray);
  }
  .span3 {
    color: var(--color-dimgray-100);
  }
  .logIn {
    text-decoration: underline;
    white-space: pre-wrap;
  }
  .alreadyHaveAnContainer {
    height: 24px;
    position: relative;
    display: inline-block;
  }
  .haveAnAccountLogin {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs);
  }
  .alreadyHaveAn1 {
    position: relative;
  }
  .haveAnAccountLogin1,
  .login,
  .root {
    display: flex;
    justify-content: flex-start;
  }
  .haveAnAccountLogin1 {
    flex-direction: row;
    align-items: flex-start;
    padding: var(--padding-11xs);
    color: var(--color-dimgray-100);
  }
  .login,
  .root {
    flex-direction: column;
    align-items: flex-end;
    color: var(--color-gray-100);
  }
  .root {
    width: 100%;
    position: relative;
    background-color: #fbfbfb;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: var(--padding-21xl) var(--padding-21xl) 168px 394px;
    box-sizing: border-box;
    gap: 89px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-dimgray-100);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 900px) {
    .createAnAccount {
      font-size: 26px;
    }
    .bullet,
    .bullet1 {
      flex-wrap: wrap;
    }
    .inputFields {
      padding-top: var(--padding-11xl);
      padding-bottom: var(--padding-11xl);
      box-sizing: border-box;
    }
    .inputFieldsWrapper {
      min-width: 100%;
    }
    .root {
      gap: 44px;
      padding-left: 197px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 700px) {
    .inputFieldsInner {
      padding-left: var(--padding-5xl);
      padding-right: var(--padding-5xl);
      box-sizing: border-box;
    }
    .bullet {
      gap: 17px;
    }
    .inputFields {
      gap: var(--gap-xl);
      padding-left: var(--padding-4xl);
      padding-right: var(--padding-4xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .createAnAccount {
      font-size: 19px;
    }
    .createAnAccountWrapper {
      padding-left: var(--padding-20xl);
      padding-right: var(--padding-20xl);
      box-sizing: border-box;
    }
    .passwordLabelWrapper {
      flex-wrap: wrap;
    }
    .bullet1 {
      gap: var(--gap-xl);
    }
    .inputFields,
    .root {
      box-sizing: border-box;
    }
    .inputFields {
      padding-top: var(--padding-xl);
      padding-bottom: var(--padding-xl);
    }
    .root {
      gap: 22px;
      padding-left: var(--padding-xl);
    }
  }
  