.gold{
    margin-left: 32px;
}
.tablerow{
    margin-left: 100px
}
.sale-buy-width {
    width: 100px; /* hoặc bất kỳ chiều rộng phù hợp nào */
  }

 
.buytab{
    margin-right: 55px
  }

  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; 
    background-color: white; 
    overflow: auto;
    box-sizing: border-box;
  }

  .fullscreen .full-screen-width {
    width: 100%;
  }
  
  .fullscreen .full-screen-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .fullscreen .full-screen-gap {
    gap: 650px;
  }

  .fullscreen .full-screen-buytile{
    margin-left: 450px;
  }

 